$primary: #5a1cb1;
$set-width: 81.25%;
// $set-width: calc(100% - 270px);
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  background-color: $primary;
  font-family: "Poppins", sans-serif !important;
  width: 100vw;
  overflow-x: hidden;
}

#section-1 {
  background-image: url("../../public/Webby.svg");
  width: 100%;
  position: relative;
  overflow: hidden;
  .bg-elements {
    position: absolute;
    width: 100%;
    height: 100%;

    &-text {
      position: absolute;
      left: -13.2%;
      font-style: italic;
      font-weight: 800;
      font-size: 600px;
      line-height: 900px;

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #fff;
      opacity: 0.6;
    }
    &-grad {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;

      background: linear-gradient(
        90deg,
        rgba(90, 28, 177, 0.8) 0%,
        rgba(90, 28, 177, 0) 50%
      );
    }
  }
  .container {
    position: relative;
    margin: auto;
    max-width: $set-width;
    height: 100%;
    z-index: 1;

    nav {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   .logo {
      //   }
      .nav-links {
        display: flex;
        flex-wrap: none;
        a {
          text-decoration: none;
          color: #fff;
          margin: 25px;
        }
      }
      button {
        background: #ffffff;
        border: 1px solid rgba(115, 61, 203, 0.3);
        padding: 10px 28px;
        border-radius: 100px;
        text-align: center;
        color: #733dcb;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 2px;
        border-style: inset;
        border: 1px solid #b89ce4;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
          background: #ebdcff;
        }
      }
    }
  }
  .main {
    display: flex;
    margin-top: 12.3%;
    &-content {
      width: 575px;
      color: #fff;
      .q-heading {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 1%;
      }
      .q-answer {
        font-size: 18.15px;
        margin-bottom: 7%;
      }
      .year-end {
        font-style: italic;
        font-weight: 600;
        font-size: 35px;
        line-height: 150%;
        margin-bottom: 1.2%;
      }
      .flex-container {
        display: flex;
        margin-left: 1%;
        margin-top: 2.9%;
        align-items: center;
        .h-line {
          height: 2px;
          width: 138px;
          background-color: #fff;
        }
        .offer-text {
          font-style: italic;
          font-weight: 400;
          font-size: 26.2102px;
          line-height: 39px;
          margin-left: 2.5%;
        }
      }
      .promo-text {
        margin-top: 6%;
        margin-right: 5%;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 171%;
      }
      button {
        margin-top: 9.5%;
        margin-left: 1.8%;
        margin-bottom: 100px;
        display: flex;
        // align-items: center;
        justify-content: center;
        padding: 20px 49px;
        background-color: #eeac55;
        border: none;
        border-radius: 100px;
        transition: all 0.1s;
        .button-ico {
          margin-right: 20px;
        }
        p {
          font-style: normal;
          font-weight: 600;
          font-size: 20.7px;
          line-height: 150%;

          color: #212121;
          white-space: nowrap;
        }
        &:hover {
          transform: translate(-3%, -3%);
          box-shadow: 12px 13px rgba(0, 0, 0, 0.25);
        }
      }
    }
    &-img-right {
      width: 500px;
      position: relative;
      .img-right {
        position: absolute;
        top: -4.3%;
        right: -46%;
        z-index: -1;
      }
    }
  }
  .mouse-scroll {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-57%);
    bottom: 5%;
    &-text {
      font-weight: 500;
      font-size: 14px;
      color: #ffffff;
      line-height: 150%;
      margin-bottom: 10px;
    }
  }
  .vector16 {
    position: absolute;
    bottom: -56.6%;
    right: -34.5%;
    z-index: -1;
  }
}
