$primary: #5a1cb1;
$set-width: 81.25%;
$set-scale: 1;
// $set-width: calc(100% - 270px);
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  background-color: $primary;
  font-family: "Poppins", sans-serif !important;
  width: 100vw;
  overflow: hidden;
}
.felx {
  display: flex;
}
.home {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 10px;
}
#section-1 {
  background-image: url("../../public/Webby.svg");
  width: 100%;
  position: relative;
  margin-top: 3%;
  transform-style: preserve-3d;
  // overflow: hidden;
  transform: translateZ(-10px) scale(2);
  .bg-elements {
    position: absolute;
    width: 100%;
    height: 100%;

    &-text {
      position: absolute;
      left: -13.2%;
      font-style: italic;
      font-weight: 800;
      font-size: 600px;
      line-height: 900px;

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #fff;
      opacity: 0.6;
    }
    &-grad {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;

      background: linear-gradient(
        90deg,
        rgba(90, 28, 177, 0.8) 0%,
        rgba(90, 28, 177, 0) 50%
      );
    }
  }
  .container {
    position: relative;
    margin: auto;
    max-width: $set-width;
    height: 100%;
    z-index: 1;

    nav {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        cursor: pointer;
      }
      .nav-links {
        display: flex;
        flex-wrap: none;
        a {
          text-decoration: none;
          color: #fff;
          margin: 25px;
        }
      }
      button {
        background: #ffffff;
        border: 1px solid rgba(115, 61, 203, 0.3);
        padding: 10px 28px;
        border-radius: 100px;
        text-align: center;
        color: #733dcb;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 2px;
        border-style: inset;
        border: 1px solid #b89ce4;
        cursor: pointer;
        transition: all 0.05s;
        &:hover {
          background: #ebdcff;
        }
      }
    }
    .main {
      display: flex;
      margin-top: 12.3%;
      &-content {
        width: 575px;
        color: #fff;
        .q-heading {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 150%;
          margin-bottom: 1%;
        }
        .q-answer {
          font-size: 18.15px;
          margin-bottom: 7%;
        }
        .year-end {
          font-style: italic;
          font-weight: 600;
          font-size: 35px;
          line-height: 150%;
          margin-bottom: 1.2%;
        }
        .flex-container {
          display: flex;
          margin-left: 1%;
          margin-top: 2.9%;
          align-items: center;
          .h-line {
            height: 2px;
            width: 138px;
            background-color: #fff;
          }
          .offer-text {
            font-style: italic;
            font-weight: 400;
            font-size: 26.2102px;
            line-height: 39px;
            margin-left: 2.5%;
          }
        }
        .promo-text {
          margin-top: 6%;
          margin-right: 5%;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 171%;
        }
        button {
          margin-top: 9.5%;
          margin-left: 1.8%;
          margin-bottom: 100px;
          display: flex;
          // align-items: center;
          justify-content: center;
          padding: 20px 49px;
          background-color: #eeac55;
          border: none;
          border-radius: 100px;
          transition: all 0.5s;
          cursor: pointer;
          .button-ico {
            margin-right: 20px;
          }
          p {
            font-style: normal;
            font-weight: 600;
            font-size: 20.7px;
            line-height: 150%;

            color: #212121;
            white-space: nowrap;
          }
          &:hover {
            transform: translate(-3%, -3%);
            box-shadow: 12px 13px rgba(0, 0, 0, 0.25);
          }
        }
      }
      &-img-right {
        width: 500px;
        position: relative;
        .img-right {
          position: absolute;
          top: -4.3%;
          right: -46%;
          z-index: -1;
        }
      }
    }
    .mouse-scroll {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 50%;
      transform: translateX(-57%);
      bottom: 5%;
      &-text {
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        line-height: 150%;
        margin-bottom: 10px;
      }
      &-icon {
        animation: float 0.9s ease-in-out infinite alternate;
      }
      @keyframes float {
        from {
          transform: translatey(0%);
        }
        to {
          transform: translatey(10%);
        }
      }
    }
    // .vector16 {
    //   // display: none;
    //   position: absolute;
    //   bottom: -56.6%;
    //   right: -34.5%;
    //   z-index: -1;
    //   transform: translateZ(10px);
    // }
  }
}
#section-2 {
  height: 900px;
  position: relative;
  margin-top: 100px;
  text-align: center;
  z-index: 1;
  color: #ffffff;
  background-color: #1f1f22;
  overflow: hidden;

  //================================================
  // .vector-con {
  //   position: absolute;
  //   width: 100%;
  //   height: inherit;

  //   .vector162 {
  //     position: absolute;
  //     top: -243px;
  //     right: -18.5%;
  //     // scale: $set-scale;
  //     z-index: -1;
  //   }
  // }
  //================================================

  .rewards-container {
    position: relative;
    padding-top: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .btn-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px 40px;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 12px 13px 0px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
    }
    h4 {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 72px;
      margin-top: 27.5px;
      margin-right: 13px;
    }
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 66px;
      color: #eeac55;
    }
    h2 {
      font-weight: 700;
      font-size: 218px;
      line-height: 196px;
      margin-top: 27px;
      color: rgba(255, 255, 255, 0.1);
    }
    .sliding-cards {
      z-index: 10;
      position: absolute;
      transform: rotate(2deg);
      top: 100.8%;
      left: -0.4%;

      .slider {
        margin-bottom: 43px;
        display: flex;
        .card {
          border-radius: 15px;
          width: 308px;
          height: 200px;
          text-align: left;
          // padding: 34px 29px;
          margin-right: 37px;
        }

        .white-card {
          background-color: #ffffff;
          padding: 29px 34px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .card-ico {
            cursor: auto;
          }
          .card-text {
            display: flex;
            flex-direction: column;
          }

          h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            color: #323033;
            margin-top: 18px;
          }
          p {
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #928f8f;
            margin-top: 5px;
          }
        }
        .bg-card {
          // background-image: url(../../public/Frame-1.png);
          display: flex;
          flex-direction: column;
          // align-items: baseline;
          justify-content: end;
          padding: 15px 16px;

          h2 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            span {
              font-weight: 600;
            }
          }
          p {
            margin-top: 2%;
          }
        }
      }
      &-top {
        animation: scrolldiv 25s linear infinite forwards;
      }
      &-bottom {
        animation: scrolldiv 25s linear infinite reverse;
        .card {
          transform: translateX(-75%);
        }
      }
      @keyframes scrolldiv {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-50%);
        }
      }
    }
  }
}
// @import "./abstract/_media;";
