* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #5a1cb1;
  font-family: "Poppins", sans-serif !important;
  width: 100vw;
}

button {
  font-family: "Poppins", sans-serif !important;
}

.felx {
  display: flex;
}

.absolute {
  position: absolute;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.overflow-contain {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.opacity0 {
  opacity: 0 !important;
}

.opacity1 {
  opacity: 1 !important;
}

@keyframes animatesteps {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.home {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 10px;
}

#section-1 {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-top: 1.1%;
  transform-style: preserve-3d;
  transform: translateZ(-10px) scale(2);
}
#section-1::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/Webby.svg");
}
#section-1 .bg-elements {
  position: absolute;
  width: 100%;
  height: 100%;
}
#section-1 .bg-elements-text {
  position: absolute;
  left: -13.2%;
  font-style: italic;
  font-weight: 800;
  font-size: 600px;
  line-height: 900px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  opacity: 0.6;
}
#section-1 .bg-elements-grad {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, rgba(90, 28, 177, 0.8) 0%, rgba(90, 28, 177, 0) 50%);
}
#section-1 .container {
  position: relative;
  margin: auto;
  max-width: 81.25%;
  height: inherit;
  z-index: 1;
  transform: translateZ(6px) scale(0.7);
}
#section-1 .container nav {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section-1 .container nav .logo {
  cursor: pointer;
}
#section-1 .container nav .nav-links {
  display: flex;
  flex-wrap: none;
}
#section-1 .container nav .nav-links a {
  text-decoration: none;
  color: #fff;
  margin: 25px;
}
#section-1 .container nav button {
  background: #ffffff;
  border: 1px solid rgba(115, 61, 203, 0.3);
  padding: 10px 28px;
  border-radius: 100px;
  text-align: center;
  color: #733dcb;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 2px;
  border-style: inset;
  border: 1px solid #b89ce4;
  cursor: pointer;
  transition: all 0.05s;
}
#section-1 .container nav button:hover {
  background: #ebdcff;
}
#section-1 .container .main {
  display: flex;
  margin-top: 12.3%;
}
#section-1 .container .main-content {
  width: 575px;
  color: #fff;
}
#section-1 .container .main-content .q-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 1%;
}
#section-1 .container .main-content .q-answer {
  font-size: 18.15px;
  margin-bottom: 7%;
}
#section-1 .container .main-content .year-end {
  font-style: italic;
  font-weight: 600;
  font-size: 35px;
  line-height: 150%;
  margin-bottom: 1.2%;
}
#section-1 .container .main-content .flex-container {
  display: flex;
  margin-left: 1%;
  margin-top: 2.9%;
  align-items: center;
}
#section-1 .container .main-content .flex-container .h-line {
  height: 2px;
  width: 138px;
  background-color: #fff;
}
#section-1 .container .main-content .flex-container .offer-text {
  font-style: italic;
  font-weight: 400;
  font-size: 26.2102px;
  line-height: 39px;
  margin-left: 2.5%;
}
#section-1 .container .main-content .promo-text {
  margin-top: 6%;
  margin-right: 5%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
}
#section-1 .container .main-content button {
  margin-top: 9.5%;
  margin-left: 1.8%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  padding: 20px 49px;
  background-color: #eeac55;
  border: none;
  border-radius: 100px;
  transition: all 0.5s;
  cursor: pointer;
}
#section-1 .container .main-content button .button-ico {
  margin-right: 20px;
}
#section-1 .container .main-content button p {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #212121;
  white-space: nowrap;
}
#section-1 .container .main-content button:hover {
  transform: translate(-3%, -3%);
  box-shadow: 12px 13px rgba(0, 0, 0, 0.25);
}
#section-1 .container .main-img-right {
  width: 500px;
  position: relative;
}
#section-1 .container .main-img-right .img-right {
  position: absolute;
  top: -4.3%;
  right: -46%;
  z-index: -1;
}
#section-1 .container .mouse-scroll {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-57%);
  bottom: 5%;
}
#section-1 .container .mouse-scroll-text {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  line-height: 150%;
  margin-bottom: 10px;
}
#section-1 .container .mouse-scroll-icon {
  animation: float 0.9s ease-in-out infinite alternate;
}
@keyframes float {
  from {
    transform: translatey(0%);
  }
  to {
    transform: translatey(10%);
  }
}

#section-2 {
  height: 1400px;
  position: relative;
  margin-top: 100px;
  text-align: center;
  z-index: 1;
  color: #ffffff;
  background-color: #1f1f22;
}
#section-2 .vector162 {
  position: absolute;
  top: -255px;
  right: -18.5%;
  scale: 1;
  z-index: -1;
  pointer-events: none;
  transition: scale 0.2s;
}
#section-2 .rewards-container {
  position: relative;
  padding-top: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#section-2 .rewards-container .btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 12px 13px 0px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
#section-2 .rewards-container h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 72px;
  margin-top: 27.5px;
  margin-right: 13px;
}
#section-2 .rewards-container h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 66px;
  color: #eeac55;
}
#section-2 .rewards-container h2 {
  font-weight: 700;
  font-size: 218px;
  line-height: 196px;
  margin-top: 27px;
  color: rgba(255, 255, 255, 0.1);
}
#section-2 .rewards-container .sliding-cards {
  z-index: 10;
  position: absolute;
  transform: rotate(2deg);
  top: 111.5%;
  left: -0.4%;
}
#section-2 .rewards-container .sliding-cards .slider {
  margin-bottom: 43px;
  display: flex;
}
#section-2 .rewards-container .sliding-cards .slider .card {
  border-radius: 15px;
  width: 308px;
  height: 200px;
  text-align: left;
  margin-right: 37px;
}
#section-2 .rewards-container .sliding-cards .slider .white-card {
  background-color: #ffffff;
  padding: 29px 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#section-2 .rewards-container .sliding-cards .slider .white-card .card-ico {
  cursor: auto;
}
#section-2 .rewards-container .sliding-cards .slider .white-card .card-text {
  display: flex;
  flex-direction: column;
}
#section-2 .rewards-container .sliding-cards .slider .white-card h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #323033;
  margin-top: 18px;
}
#section-2 .rewards-container .sliding-cards .slider .white-card p {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #928f8f;
  margin-top: 5px;
}
#section-2 .rewards-container .sliding-cards .slider .bg-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px 16px;
}
#section-2 .rewards-container .sliding-cards .slider .bg-card h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
#section-2 .rewards-container .sliding-cards .slider .bg-card h2 span {
  font-weight: 600;
}
#section-2 .rewards-container .sliding-cards .slider .bg-card p {
  margin-top: 2%;
}
#section-2 .rewards-container .sliding-cards-top {
  animation: scrolldiv 25s linear infinite forwards;
}
#section-2 .rewards-container .sliding-cards-bottom {
  animation: scrolldiv 25s linear infinite reverse;
}
#section-2 .rewards-container .sliding-cards-bottom .card {
  transform: translateX(-75%);
}
@keyframes scrolldiv {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
#section-2 .how-it-works {
  margin: auto;
  margin-bottom: 0;
  width: 92%;
  background-color: #fff;
  font-size: 54px;
  font-weight: 600;
  line-height: 90px;
  padding: 57px 0px;
  color: #2e2525;
  border-radius: 40px 40px 0px 0px;
}

#section-3 {
  min-height: 600vh;
  background-color: #fff;
  align-items: center;
}
#section-3 .step-slides {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  opacity: 0;
  background-color: #fff;
  transition: all 0.2s;
}
#section-3 .step-slides .container {
  height: inherit;
  margin: auto;
  max-width: 81.25%;
  display: flex;
  align-items: center;
}
#section-3 .step-slides .container .steps-left {
  z-index: 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 466px;
  width: 50%;
}
#section-3 .step-slides .container .steps-left .bg-step-count {
  position: absolute;
}
#section-3 .step-slides .container .steps-left .step-text {
  cursor: auto;
}
#section-3 .step-slides .container .steps-left button {
  margin-top: 19.5%;
  background: #ffffff;
  border: 1px solid #323033;
  border-radius: 100px;
  padding: 5px 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #323033;
}
#section-3 .step-slides .container .steps-left h3 {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
}
#section-3 .step-slides .container .steps-left p {
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2e2525;
}
#section-3 .step-slides .container .steps-right {
  width: 50%;
  position: relative;
  height: inherit;
}
#section-3 .step-slides .container .steps-right .bg-step-img {
  position: absolute;
  top: -35%;
  left: -55%;
}

#FAQ {
  background: #260058;
}
#FAQ #FAQ-in {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  border-radius: 0 0 30px 30px;
}
#FAQ #FAQ-in .container {
  width: 81.25%;
  margin: auto;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
}
#FAQ #FAQ-in .container .faq-heading {
  margin-inline: 20%;
  text-align: center;
}
#FAQ #FAQ-in .container .faq-heading h2 {
  font-size: 54px;
  font-weight: 600;
}
#FAQ #FAQ-in .container .faq-heading h2 span {
  color: #eeac55;
}
#FAQ #FAQ-in .container .faq-heading p {
  margin-top: 24px;
  font-size: 18px;
  color: #2e3133;
}
#FAQ #FAQ-in .container .faq-heading p a {
  color: #000;
}
#FAQ #FAQ-in .container .faq-accordion {
  margin-inline: 17%;
  margin-block: 44px;
}
#FAQ #FAQ-in .container .faq-accordion .accordion {
  background: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
}
#FAQ #FAQ-in .container .faq-accordion .accordion:hover {
  cursor: pointer;
}
#FAQ #FAQ-in .container .faq-accordion .accordion .accordion-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #29333d;
}
#FAQ #FAQ-in .container .faq-accordion .accordion .accordion-btn P {
  margin-right: 20%;
}
#FAQ #FAQ-in .container .faq-accordion .accordion .accordion-btn::after {
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #000;
  min-width: 1em;
  border-radius: 5px;
  height: 1em;
}
#FAQ #FAQ-in .container .faq-accordion .accordion .accordion-btn:hover > .accordion-btn::after {
  background-color: #000;
  color: #fff;
}
#FAQ #FAQ-in .container .faq-accordion .accordion .panel {
  max-height: 0;
  color: #3b4d5d;
  font-size: 16px;
  font-weight: 400px;
  margin-right: 20%;
  transition: max-height 0.2s;
  overflow: hidden;
}
#FAQ #FAQ-in .container button {
  margin: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 20px 62.5px;
  border-radius: 100px;
  transition: all 0.2s;
}
#FAQ #FAQ-in .container button:hover {
  transform: translate(-3%, -3%);
  box-shadow: 12px 13px rgb(0, 0, 0);
}
#FAQ #FAQ-in .container button p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #323033;
}
#FAQ #FAQ-in .container .download-info {
  display: flex;
  background: #f0f1f3;
  margin-top: 78.5px;
  margin-bottom: 101.51px;
  padding-inline: 75.1px;
  border-radius: 40px;
}
#FAQ #FAQ-in .container .download-info-left {
  width: 50%;
  padding-block: 60px;
  z-index: 1;
}
#FAQ #FAQ-in .container .download-info-left .app-heading {
  display: flex;
  font-size: 34.51px;
  font-weight: 600;
  line-height: 49.5px;
  color: #140c40;
  flex-wrap: wrap;
}
#FAQ #FAQ-in .container .download-info-left .app-heading .blue-line {
  width: inherit;
  height: 3px;
  background: #488bf8;
  border-radius: 4px;
}
#FAQ #FAQ-in .container .download-info-left p {
  font-size: 15px;
  margin-right: 20%;
  line-height: 24px;
  font-weight: 400;
  margin-block: 30px;
  color: #3b4d5d;
}
#FAQ #FAQ-in .container .download-info-left .app-img {
  margin-right: 10px;
}
#FAQ #FAQ-in .container .download-info-right {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: center;
}
#FAQ #footer {
  width: 100%;
  min-height: 200px;
}/*# sourceMappingURL=styles.css.map */